.mat-mdc-form-field {
    font-size: 14px;
    width: 40%;
    height:70px;
  }
.mat-typography {
    width: 80%;
}
.container-1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn {
    height: 48px;
    
    
}